section a {
  color: rgb(255, 63, 76);
}
section a:hover {
  background-color: rgba(204, 142, 146, 0.349);
  text-decoration: none;
}

.box-article {
  /* background-color: rgba(253, 175, 192, 0.5); */
  width: 48%;
  max-width: 740px;
  min-height: 100vh;
  margin: 8rem auto 1rem auto;
  /* text-align: center; */
}

article {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
  text-shadow: 0 0 8px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6);
}

article h1,
article h2,
article h3 {
  line-height: 1.3;
  color: rgb(255 131 140);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 1px 1px 0 #fff; /* 保留原来的阴影 */
}
article h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}
article h2 {
  font-size: 2rem;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}
article h3 {
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
article p {
  color: rgb(180, 90, 98);
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

article blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #ea90b7;
}

article:hover {
  background-color: rgba(234, 234, 234, 0.45);
}

article ul,
article ol {
  padding-left: 1.5rem;
}

article li {
  line-height: 1.8;
  color: rgb(180, 90, 98);
}

article code {
  padding: 0.2em 0.4em;
  background-color: #818b981f;
  border-radius: 6px;
  font-size: 85%;
  margin: 0;
  white-space: break-spaces;
}

article hr {
  margin: 1.5em 0;
  border-color: #ff98c570;
}

article img {
  max-width: 100%;
}

article pre {
  position: relative;
  background-color: #818b981f;
  margin: 0 0 1rem 0;
}

article pre code {
  background-color: initial;
}

.copy-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(255, 131, 140, 0.5);
  color: rgb(180, 90, 98);
  border: none;
  padding: 3px 8px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

pre:hover .copy-btn {
  opacity: 0.9;
}

aside {
  position: fixed;
  width: 20%;
  max-height: 335px;
  overflow: auto;
  top: 8rem;
  right: 3%;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
}
aside ul {
  color: rgb(255 131 140);
  list-style: none;
}
aside li {
  margin: 15px 0 15px 0;
  padding: 5px;
}
aside a {
  color: rgb(255 131 140);
  text-decoration: none;
  text-shadow: 0 0 8px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6);
}

aside ul ul {
  margin-left: 1em;
}

.sidebar-nav a.active {
  font-weight: 600;
  color: rgb(180, 90, 98);
}

@media screen and (max-width: 500px) {
  .box-article {
    width: 100%;
    margin: 7rem auto 1rem auto;
    padding: 0 1rem;
  }
  article {
    padding: 1rem;
  }
  article h1 {
    font-size: 28px;
  }
  article code {
    background-color: rgba(255, 255, 255, 0.361);
  }
  aside {
    display: none;
  }
}
