<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- meta-description -->
    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/article.css" />
    <link rel="stylesheet" href="/assets/css/atom-one-light.css" />
    <link
      rel="preload"
      href="/assets/js/common.js"
      as="script"
      fetchpriority="high"
    />
    <link
      rel="preload"
      href="/assets/js/article.js"
      as="script"
      fetchpriority="low"
    />
  </head>
  <body>
    <header>
      <h1>
        <a href="/" id="pageTitle"
          ><img src="/assets/images/logo.png" alt="tia-chan's blog"
        /></a>
      </h1>
      <input type="checkbox" id="navToggle" hidden />
      <label
        for="navToggle"
        class="hamburger"
        aria-label="Toggle navigation"
      ></label>
      <nav>
        <a href="/">Home</a>
        <a href="/rss.xml">RSS</a>
        <a href="https://github.com/kamomechan/tia-chan-blog">Code</a>
      </nav>
    </header>
    <section>
      <div class="box-article"><article></article></div>
      <div class="modal" id="imageModal">
        <span class="close-btn">&times;</span>
        <img class="modal-content" id="modalImage" />
      </div>
      <aside>
        <!--SIDEBAR-->
      </aside>
    </section>

    <footer>
      <img
        class="back-to-top"
        src="/assets/images/page-top.png"
        alt="Back to Top"
      />
    </footer>

    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/article.js"></script>
  </body>
</html>
